*{
  box-sizing: border-box
  font-family: sans-serif
}

body{
  margin: 0px;
  background-color:rgb(27, 26, 26)
}
header{
  background-color: aliceblue;color: aliceblue;
  padding: 5px;
}
main{
  background-color:white ;color:black;width: 400px;margin: auto;
  padding: 25px;
}

footer{
  background-color: white;color: red;padding: 10px; text-align: center;
}
div{
  margin-top: 10px;padding: 10px;border-bottom: 1px solid aliceblue
}
.posteo{
  background-color: antiquewhite;
}
.anuncio{
  background-color: bisque;
}
#foto-perfil{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
img{
  width: 100%;
}
#nombre-perfil{
  font-weight: bold;
  font-family: Lobster;
  border-bottom: 1px solid black;
  font-size: 20px;
}

.lobster-regular {

font-family: "Lobster", sans-serif;
font-weight: 400;
font-style: normal;

}
h2{
  text-align: center;
  font-size: 30px;
}


